<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-sm-o mx-auto">
   <h1>Editing Book</h1>
   <div class="error_message">
   <% if @book.errors.any? %>
     <%= @book.errors.count %><%= ' error'.pluralize(@book. errors.count) %>  prohibited this obj from being saved
     <ul>
       <% @book.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   <% end %>
   </div>

   <%= form_with model: @book, local:true do |f| %>
    <label for="title">Title</label><br>
    <%= f.text_field :title, size: "40x25" %><br>
    <label for="body">Opinion</label><br>
    <%= f.text_area :body, size: "40x5" %><br>

    <%= f.submit 'Update Book', class: "btn btn-success" %><br>

    <%= link_to "Show", book_path %>
    |
    <%= link_to "Back", books_path %>
   <% end %>
  </div>
 </div>
</div>

















